{% extends "main.html" %}
{% block title %}
収支編集
{% endblock %}


{% block body %}
<div class="wrap">
    <div class="content">
    <!--上部メニュー-->
    <div class="homemenu">
        <ul>
            <li>金剛会計</li>
            <li>
                <a>
                    <!--ハンバーガーメニューのアイコン-->
                    <i class="fas fa-bars header__icon"></i>
                </a>
            </li>
            <li>
                <font color="white" size="5px">ようこそ{{name}}さん</font>
            </li>
        </ul>
    </div>
    <form id="changeIncomeCategoryForm" method="POST" action="apply/">
        {% csrf_token %}
        <p>収支編集</p>
        <input type="submit" value="適用">
        <br>
        <a href="/view">収支表に戻る</a>
        <table class="view_table">
            <thead>
                <tr>
                    <th>金額</th>
                    <th>内容</th>
                    <th>カテゴリー</th>
                    <th>日付</th>
                </tr>
            </thead>
            <tbody>
                {% for b in selects %}
                <tr>
                    <td>
                        {% if b.isIncome %}
                        <font color="green">+</font>
                        {% else %}
                        <font color="red">-</font>
                        {% endif %}
                        <input type="text" name="{{b.id}}-amount" value="{{b.amount}}">
                    </td>
                    <td>
                        <input type="text" name="{{b.id}}-description" value="{{b.description}}">
                    </td>
                    <td>
                        <select name="{{b.id}}-category" value="{{b.categoryName}}">
                            <option value="選択なし">選択なし</option>
                            {% if b.isIncome %}
                            {% for c in incomeCategories %}
                            <option value={{c.name}} {% if c.name == b.categoryName %}selected{% endif %}>{{c.name}}</option>
                            {% endfor %}
                            {% else %}
                            {% for c in expenseCategories %}
                            <option value={{c.name}} {% if c.name == b.categoryName %}selected{% endif %}>{{c.name}}</option>
                            {% endfor %}
                            {% endif %}
                        </select>
                    </td>
                    <td>
                        <input type="date" name="{{b.id}}-date" value="{{b.date|date:'Y-m-d'}}">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
    <aside class="sidebar">
        <div class="sidebar__inner">
            <h2 class="sidebar__ttl">Menu</h2>
            <i class="fas fa-times-circle sidebar__icon"></i>
        </div>
        <p class="sidebar__txt">
            <a href="/">トップページ</a>
        </p>
        <p class="sidebar__txt">
            <a href="/signout">ログアウト</a>
        </p>
        <p class="sidebar__txt">
            <a href="/passwordchange">パスワード変更</a>
        </p>
        <p class="sidebar__txt">
            <a href="/unregister">退会</a>
        </p>
    </aside>
    <div class="sidebar-bg"></div>
</div>
</div>
<script>
        $(document).ready(function () {
            /*ハンバーガーメニューopen*/
            $('.header__icon').on('click', function () {
                $('.sidebar').css(
                    'display', 'block'
                ).animate({
                    right: '0'
                },
                    300
                );
                $('.sidebar-bg').css(
                    'display', 'block'
                ).animate({
                    opacity: '0.5'
                },
                    300
                )
            });
            /*ハンバーガーメニューclose*/
            $('.sidebar__icon').on('click', function () {
                $('.sidebar').animate({
                    right: '-200px'
                },
                    300
                );
                $('.sidebar-bg').animate({
                    opacity: '0'
                },
                    300
                );
                setTimeout(function () {
                    $('.sidebar').css('display', 'none');
                    $('.sidebar-bg').css('display', 'none');
                },
                    300
                );
            });
        });
    </script>
{% endblock %}