{% extends "main.html" %}
{% block title %}
ホーム
{% endblock %}

{% block body %}
<!--ホーム画面の上部メニュー-->
<div class="homemenu">
    <ul>
        <li>金剛会計</li>
        {% if name == None %}
        <li><a href="/signup">アカウント作成</a></li>
        <li><a href="/signin">ログイン</a></li>
        {% else %}
        <li><a href="/view">収支表閲覧</a></li>
        <li><a href="/signout">ログアウト</a></li>
        {% endif %}
        <li><a href="/delete/">データベース削除</a></li>
    </ul>
</div>

<!--ホーム画面のアプリの簡易説明部分-->
<div class="descriptionBox">
    <div class="description">
        <h2>金剛会計とは？</h2>
        <p>
            収入と支出をカジュアルに管理したい人向けの簡単な会計アプリです。
        </p>
    </div>

    <div class="icon">
        {% load static %}
        <img src="{% static 'financial/icon/icon.png' %}">
    </div>
</div>

<!--ホーム画面下部の機能説明部分-->
<div class="function">
    <div class="text1">

    </div>
    <div class="img1">
        
    </div>
</div>

{% endblock %}