<!DOCTYPE html>
<html>
<head lang="ja">
  <meta charset="UTF-8">
  <title>
    {% block title %}
    {% endblock %}
  </title>
  {% load static %}
  <link rel="shortcut icon" href="{% static 'financial/home/favicon.ico' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'financial/tab.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'financial/menu.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'financial/home.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'financial/signup.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'financial/signin.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'financial/signupconfirm.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'financial/main.css' %}">

  <!--jQuery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>