{% extends "main.html" %}
{% block title %}
新規登録
{% endblock %}

{% block body %}
<script>
    window.onload = function () {
        error = "{{error}}";
        if (error == "name") {
            document.getElementById("{{error}}").innerHTML = "そのユーザー名は既に使用されています";
        } else if (error == "password") { /*パスワードエラーを作成するならここに*/
            /*document.getElementById("{{error}}").innerHTML = "パスワードは8文字以上で数字、小文字、大文字を全て含んだものにしてください";*/
        } else if (error == "oldpassword") {
            document.getElementById("{{error}}").innerHTML = "パスワードを間違えています";
        }
    }

</script>
<div class="wrap">
    <!--上部メニュー-->
    <div class="homemenu">
        <ul>
            <li>金剛会計</li>
        </ul>
    </div>
    <div class="signup">

        <form method="POST" action="/passwordchangeconfirm/">
            <p>現在のパスワード</p>
            <input type="password" name="oldpassword">
            <font color="red">
                <p id="oldpassword"></p>
            </font>
            <p>新しいパスワード</p>
            <input type="password" name="newpassword">
            <br>
            {% csrf_token %}
            <button type="submit" name="action" bvalue="send" class="signupButton">登録</button>
        </form>

        <a href="/">トップに戻る</a>
    </div>
</div>
{% endblock %}