{% extends "main.html" %}
{% block title %}
退会
{% endblock %}

{% block body %}
<script>
    window.onload = function () {
        error = "{{error}}";
        if (error == "name") {
            document.getElementById("{{error}}").innerHTML = "そのユーザー名は既に使用されています";
        } else if (error == "password") { /*パスワードエラーを作成するならここに*/
            /*document.getElementById("{{error}}").innerHTML = "パスワードは8文字以上で数字、小文字、大文字を全て含んだものにしてください";*/
        } else if (error == "oldpassword") {
            document.getElementById("{{error}}").innerHTML = "パスワードを間違えています";
        }
    }

</script>

<div class="wrap">
    <!--上部メニュー-->
    <div class="homemenu">
        <ul>
            <li>金剛会計</li>
        </ul>
    </div>
    <div class="signup">

        <form  name="myform" method="POST" unsubmit="return function">
            {% csrf_token %}
            <input type="submit" id="btn" name="action" value="退会" class="signupButton">
            <script>
                document.myform.btn.addEventListener('click', function() {
                var result = window.confirm('本当に退会してよろしいですか？');

                    if( result ) {
                        document.myform.action = "/unregisterconfirm/";
                    } else {
                        return false;
                    }
                })
            </script>
        </form>

        <a href="/view">戻る</a>
    </div>
</div>
{% endblock %}