{% extends "main.html" %}
{% block title %}
収支表閲覧
{% endblock %}

{% block body %}
    <a href="/delete/">データベース削除</a>
    <p>収入入力フォーム</p>
    <form id="incomeForm" method="POST" action="/income/">
        <p>値</p>
        <input type="text" name="income">
        <p>内容</p>
        <input type="text" name="incomeDescription">
        <p>カテゴリー</p>
        <input type="radio" name="incomeCategory" value="work"> 仕事
        <input type="radio" name="incomeCategory" value="school"> 学校
        <input type="radio" name="incomeCategory" value="hobby"> 娯楽
        <br>
        {% csrf_token %}
        <input type="submit" value="送信">
    </form>
    <p>支出入力フォーム</p>
    <form id="expenceForm" method="POST" action="/expence/">
        <p>値</p>
        <input type="text" name="expence">
        <p>内容</p>
        <input type="text" name="expenceDescription">
        <p>カテゴリー</p>
        <input type="radio" name="expenceCategory" value="work"> 仕事
        <input type="radio" name="expenceCategory" value="school"> 学校
        <input type="radio" name="expenceCategory" value="hobby"> 娯楽
        <br>
        {% csrf_token %}
        <input type="submit" value="送信">
    </form>
    <h3>あなたの現在の収支は{{gain}}です。</h3>
    <table>
        <thead>
          <tr>
            <th>収入</th>
            <th>内容</th>
          </tr>
        </thead>
        <tbody>
            {% for income in incomes %}
            <tr>
              <td>{{income.amount}}</td>
              <td>{{income.description}}</td>
            </tr>
            {% endfor %}
            <tr>
                <td>{{sumIncomes}}</td>
                <td>合計</td>
            </tr>
        </tbody>
    </table>
    <table>
        <thead>
          <tr>
            <th>支出</th>
            <th>内容</th>
          </tr>
        </thead>
        <tbody>
            {% for expence in expences %}
            <tr>
                <td>{{expence.amount}}</td>
                <td>{{expence.description}}</td>
            </tr>
            {% endfor %}
            <tr>
                <td>{{sumExpences}}</td>
                <td>合計</td>
            </tr>
        </tbody>
    </table>
{% endblock %}