{% extends "main.html" %}
{% block title %}
収支表閲覧
{% endblock %}


{% block body %}
<script>
    window.onload = function () {
        error = "{{categorySubscribeError}}";
        if (error == "blank") {
            document.getElementById("category").innerHTML = "カテゴリー入力がされていません";
        } else if (error == "duplication") {
            document.getElementById("category").innerHTML = "すでにそのカテゴリーは登録されています";
        }
        error = "{{incomeError}}";
        if (error == "notDecimalError") {
            document.getElementById("income").innerHTML = "値は数字で入力してください";
        } else if (error == "contentBlankError") {
            document.getElementById("income").innerHTML = "内容が入力されていません";
        }
        error = "{{expenseError}}";
        if (error == "notDecimalError") {
            document.getElementById("expense").innerHTML = "値は数字で入力してください";
        } else if (error == "contentBlankError") {
            document.getElementById("expense").innerHTML = "内容が入力されていません";
        }
    }
</script>
<div class="cp_cont">
    <div class="cp_offcm01">
        <input type="checkbox" id="cp_toggle01">
        <label for="cp_toggle01"><span></span></label>
        <div class="cp_menu">
            <ul>
                <!--ここにメニュー（アカウントなど）のリンク-->
                <li><a href="/">ホーム</a></li>
                <li><a href="#">menu2</a></li>
                <li><a href="#">menu3</a></li>
                <li><a href="#">menu4</a></li>
                <li><a href="#">menu5</a></li>
            </ul>
        </div>
    </div>
    <div class="cp_contents">

        <div class="cp_tab">
            <input type="radio" name="cp_tab" id="tab4_1" checked>
            <label for="tab4_1">一覧</label>
            <input type="radio" name="cp_tab" id="tab4_2">
            <label for="tab4_2">円グラフ</label>
            <input type="radio" name="cp_tab" id="tab4_3">
            <label for="tab4_3">折れ線グラフ</label>
            <div class="cp_tabpanels">
                <div class="cp_tabpanel">
                    <h2>収支一覧</h2>
                    <p>カテゴリー入力フォーム</p>
                    <form id="categoryForm" method="POST" action="/category/">
                        <font color="red">
                            <p id="category"></p>
                        </font>
                        <p>カテゴリー名</p>
                        <input type="text" name="registrationCategory">
                        <p>種類</p>
                        <select name="categoryType">
                            <option value="income">収入</option>
                            <option value="expense">支出</option>
                        </select>
                        <br>
                        {% csrf_token %}
                        <input type="submit" value="送信">
                    </form>
                    <p>収入入力フォーム</p>

                    <form id="incomeForm" method="POST" action="/income/">
                        <font color="red">
                            <p id="income"></p>
                        </font>
                        <p>値</p>
                        <input type="text" name="income">
                        <p>内容</p>
                        <input type="text" name="incomeDescription">
                        <p>カテゴリー</p>
                        <select name="incomeCategory">
                            <option value="選択なし">選択なし</option>
                            {% for incomeCategory in incomeCategories %}
                            <option value={{incomeCategory.categoryName}}>{{incomeCategory.categoryName}}</option>
                            {% endfor %}
                        </select>
                        <br>
                        {% csrf_token %}
                        <input type="submit" value="送信">
                    </form>
                    <p>支出入力フォーム</p>

                    <form id="expenceForm" method="POST" action="/expence/">
                        <font color="red">
                            <p id="expense"></p>
                        </font>
                        <p>値</p>
                        <input type="text" name="expence">
                        <p>内容</p>
                        <input type="text" name="expenceDescription">
                        <p>カテゴリー</p>
                        <select name="expenseCategory">
                            <option value="選択なし">選択なし</option>
                            {% for expenseCategory in expenseCategories %}
                            <option value={{expenseCategory.categoryName}}>{{expenseCategory.categoryName}}</option>
                            {% endfor %}
                        </select>
                        <br>
                        {% csrf_token %}
                        <input type="submit" value="送信">
                    </form>
                    <h3>あなたの現在の収支は{{gain}}です。</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>収入</th>
                                <th>内容</th>
                                <th>カテゴリー</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for income in incomes %}
                            <tr>
                                <td>{{income.amount}}</td>
                                <td>{{income.description}}</td>
                                <td>{{income.categoryName}}</td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td>{{sumIncomes}}</td>
                                <td>合計</td>
                            </tr>
                        </tbody>
                    </table>
                    <table>
                        <thead>
                            <tr>
                                <th>支出</th>
                                <th>内容</th>
                                <th>カテゴリー</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for expence in expences %}
                            <tr>
                                <td>{{expence.amount}}</td>
                                <td>{{expence.description}}</td>
                                <td>{{expence.categoryName}}</td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td>{{sumExpences}}</td>
                                <td>合計</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="cp_tabpanel">
                    <h2>円グラフ</h2>
                    <p>円グラフをここに表示</p>
                </div>
                <div class="cp_tabpanel">
                    <h2>折れ線グラフ</h2>
                    <p>折れ線グラフをここに表示</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}