{% extends "main.html" %}
{% block title %}
収支表閲覧
{% endblock %}


{% block body %}

<div class="wrap">
    <!--上部メニュー-->
    <div class="homemenu">
        <ul>
            <li>金剛会計</li>
            <li>
                <a>
                    <!--ハンバーガーメニューのアイコン-->
                    <i class="fas fa-bars header__icon"></i>
                </a>
            </li>
            <li>
                <font color="white" size="5px">ようこそ{{name}}さん</font>
            </li>
        </ul>
    </div>
    <div class="content">
        <div class="main_contents">
            <div class="cp_tab">
                <input type="radio" name="cp_tab" id="tab4_1" checked>
                <label for="tab4_1">一覧</label>
                <input type="radio" name="cp_tab" id="tab4_2">
                <label for="tab4_2">円グラフ</label>
                <input type="radio" name="cp_tab" id="tab4_3">
                <label for="tab4_3">折れ線グラフ</label>
                <div class="cp_tabpanels">
                    <div class="cp_tabpanel">
                        <h2>収支一覧</h2>
                        <div id="category_dialog" style="display:none;">
                            <form id="categoryForm" method="POST" action="/category/">
                                <p>カテゴリー名</p>
                                <input type="text" name="registrationCategory">
                                <p>種類</p>
                                <select name="categoryType">
                                    <option value="income">収入</option>
                                    <option value="expense">支出</option>
                                </select>
                                <br>
                                {% csrf_token %}
                                <input type="submit" value="追加">
                            </form>
                        </div>

                        <div id="income_dialog" style="display:none;">
                            <form id="incomeForm" method="POST" action="/income/">
                                <p>値</p>
                                <input type="text" name="income">
                                <p>内容</p>
                                <input type="text" name="incomeDescription">
                                <p>カテゴリー</p>
                                <select name="incomeCategory">
                                    <option value="選択なし">選択なし</option>
                                    {% for incomeCategory in incomeCategories %}
                                    <option value={{incomeCategory.name}}>{{incomeCategory.name}}</option>
                                    {% endfor %}
                                </select>
                                <br>
                                {% csrf_token %}
                                <input type="submit" value="追加">
                            </form>
                        </div>

                        <div id="expense_dialog" style="display:none;">
                            <form id="expenceForm" method="POST" action="/expence/">
                                <p>値</p>
                                <input type="text" name="expence">
                                <p>内容</p>
                                <input type="text" name="expenceDescription">
                                <p>カテゴリー</p>
                                <select name="expenseCategory">
                                    <option value="選択なし">選択なし</option>
                                    {% for expenseCategory in expenseCategories %}
                                    <option value={{expenseCategory.name}}>{{expenseCategory.name}}</option>
                                    {% endfor %}
                                </select>
                                <br>
                                {% csrf_token %}
                                <input type="submit" value="追加">
                            </form>
                        </div>
                        <font color="red">
                            <p id="category"></p>
                        </font>
                        <font color="red">
                            <p id="income"></p>
                        </font>
                        <font color="red">
                            <p id="expense"></p>
                        </font>
                        <input type="button" id="category_btn" class="view_button" value="カテゴリー追加">
                        <input type="button" id="income_btn" class="view_button" value="収入追加">
                        <input type="button" id="expense_btn" class="view_button" value="支出追加">

                        <form id="categorysearch" method="POST" action="/categorysearch/">
                            <p>カテゴリーで絞り込み</p>
                            <select name="Category">
                                <option value="選択なし">選択なし</option>
                                {% for category in Category %}
                                <option value={{category.name}}>{{category.name}}</option>
                                {% endfor %}
                            </select>
                            {% csrf_token %}
                            <input type="submit" value="検索">
                        </form>
                        <a href="/view">全表示</a>

                        <a href="/export">エクスポート</a>

                        <h3>収支の合計は{{gain}}です</h3>

                        <form id="balanceEdit" method="POST" action="/balanceedit/">
                            {% csrf_token %}
                            <span>選択を</span>
                            <!--編集ボタンなどはここに追加-->
                            <input type="submit" name="delete" value="削除">
                            <br>
                            <span id="prev">＜</span>　<span id="page"></span>ページ　<span id="next">＞</span>
                            <table class="view_table">
                                <thead>
                                    <tr>
                                        <th>収支</th>
                                        <th>内容</th>
                                        <th>カテゴリー</th>
                                        <th>選択</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for balance in balances %}
                                    <tr>
                                        {% if balance.isIncome %}
                                        <td>
                                            <font color="green">+{{balance.amount}}</font>
                                        </td>
                                        {% else %}
                                        <td>
                                            <font color="red">-{{balance.amount}}</font>
                                        </td>
                                        {% endif %}
                                        <td>{{balance.description}}</td>
                                        <td>{{balance.categoryName}}</td>
                                        <td><input name="balanceSelect" value={{balance.id}} type="checkbox"></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <div class="cp_tabpanel">
                        <h2>円グラフ</h2>
                        {% load static %}
                        <img src="{% static 'financial/img/'%}{{name}}/{{incomeFileName}}" title="収入のグラフ" alt="収入のグラフ" align="top">
                        <img src="{% static 'financial/img/'%}{{name}}/{{expenceFileName}}" title="支出のグラフ" alt="支出のグラフ" align="top">
                    </div>
                    <div class="cp_tabpanel">
                        <h2>折れ線グラフ</h2>
                        <p>折れ線グラフをここに表示</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <aside class="sidebar">
        <div class="sidebar__inner">
            <h2 class="sidebar__ttl">Menu</h2>
            <i class="fas fa-times-circle sidebar__icon"></i>
        </div>
        <p class="sidebar__txt">
            <a href="/">トップページ</a>
        </p>
        <p class="sidebar__txt">Menu 2</p>
        <p class="sidebar__txt">Menu 3</p>
        <p class="sidebar__txt">Menu 4</p>
        <p class="sidebar__txt">Menu 5</p>
    </aside>
    <div class="sidebar-bg"></div>
</div>
<script>
    /*フォームのエラー表示*/
    window.onload = function () {
        error = "{{categorySubscribeError}}";
        if (error == "blank") {
            document.getElementById("category").innerHTML = "カテゴリー入力がされていません";
        } else if (error == "duplication") {
            document.getElementById("category").innerHTML = "すでにそのカテゴリーは登録されています";
        }
        error = "{{incomeError}}";
        if (error == "notDecimalError") {
            document.getElementById("income").innerHTML = "値は数字で入力してください";
        } else if (error == "contentBlankError") {
            document.getElementById("income").innerHTML = "内容が入力されていません";
        }
        error = "{{expenseError}}";
        if (error == "notDecimalError") {
            document.getElementById("expense").innerHTML = "値は数字で入力してください";
        } else if (error == "contentBlankError") {
            document.getElementById("expense").innerHTML = "内容が入力されていません";
        }
    }

    $(document).ready(function () {
        /*ハンバーガーメニューopen*/
        $('.header__icon').on('click', function () {
            $('.sidebar').css(
                'display', 'block'
            ).animate({
                right: '0'
            },
                300
            );
            $('.sidebar-bg').css(
                'display', 'block'
            ).animate({
                opacity: '0.5'
            },
                300
            )
        });
        /*ハンバーガーメニューclose*/
        $('.sidebar__icon').on('click', function () {
            $('.sidebar').animate({
                right: '-200px'
            },
                300
            );
            $('.sidebar-bg').animate({
                opacity: '0'
            },
                300
            );
            setTimeout(function () {
                $('.sidebar').css('display', 'none');
                $('.sidebar-bg').css('display', 'none');
            },
                300
            );
        });

        /*カテゴリー追加フォーム*/
        $("#category_btn").click(function () {
            $("#category_dialog").dialog({
                modal: true,
                title: "カテゴリー追加",
            });
        });

        /*収入追加フォーム*/
        $("#income_btn").click(function () {
            $("#income_dialog").dialog({
                modal: true,
                title: "収入追加",
            });
        });

        /*支出追加フォーム*/
        $("#expense_btn").click(function () {
            $("#expense_dialog").dialog({
                modal: true,
                title: "支出追加",
            });
        });

        /*ページネーション*/
        var page = 0;
        function draw() {
            $('#page').html(page + 1);
            $('tr').hide();
            $('tr:first,tr:gt(' + page * 10 + '):lt(10)').show();
        }
        $('#prev').click(function () {
            if (page > 0) {
                page--;
                draw();
            }
        });
        $('#next').click(function () {
            if (page < ($('tr').length - 1) / 10 - 1) {
                page++;
                draw();
            }
        });
        draw();
    });
</script>
{% endblock %}