/*主要な装飾を実現するcss*/

/*URLリンクの色を変え、ホバーするとアンダーラインが出る
a {
	padding: 0.1em 0.3em;
	position: relative;
	display: inline-block;
	transition: .3s;
	color: rgb(44, 24, 226);
}
a::after {
	position: absolute;
	bottom: .3em;
	left: 0;
	content: '';
	width: 100%;
	height: 1px;
	background-color: rgb(44, 24, 226);
	opacity: 0;
	transition: .3s;
}
a:hover::after {
	bottom: 0;
	opacity: 1;
}
*/
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #1b2538;
}
li {
	float: left;
	border-right: 1px solid #bbbbbb;
}
li:last-child {
	border-right: none;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover:not(.active) {
	background-color: #a9bce2;
}